global-include *.py
recursive-include src/omni_bot_sdk/yolo/models *.pt
recursive-include src/omni_bot_sdk *.pyd
include config.example.yaml
include src/omni_bot_sdk/utils/fuck_zxl.py
include src/omni_bot_sdk/services/core/database_service.py
